{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if request.session.realname %}
                <li><a href="#about">{{ request.session.realname }} 로그인</a></li>
                {% endif %}
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#contact">게시판</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if not request.user.is_active %}
                <li><a href="{% url 'login' %}" >로그인</a></li>
                <li><a href="{% url 'joinmember' %}" >회원가입</a></li>
                {% endif %}
                {% if request.user.is_active %}
                <li><a href="{% url 'logout' %}" >로그아웃</a></li>
                {% endif %}

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% block javascript %}
{% endblock %}
</body>
</html>